{{define "title"}}Admin Reports{{end}}

{{define "main"}}
<h2>Unsolved Reports</h2>
{{if .Reports}}
<table>
    <tr>
        <th>ID</th>
        <th>Post ID</th>
        <th>Reporter ID</th>
        <th>Reason</th>
        <th>Answer</th>
        <th>Created At</th>
    </tr>
    {{range .Reports}}
    <tr>
        <td><a href='/report/answer/{{.ID}}'>#{{.ID}}</a></td>
        <td><a href='/post/view/{{.PostID}}'>{{.PostID}}</a></td>
        <td>{{.ReporterID}}</td>
        <td>{{.Reason}}</td>
        <td>{{.Answer}}</td>
        <td>{{humanDate .CreatedAt}}</td>
    </tr>
    {{end}}
</table>
{{else}}
<p>No reports found.</p>
{{end}}
{{end}}