{{define "title"}}Home{{end}}

{{define "main"}}
<h2>Latest Posts</h2>
<form method="GET" action="/" class="mb-3">
    <div class="input-group">
        <label class="form-label">Select Category:</label>
        <select name="Category" class="form-control">
            {{range .Categories}}
            <option value="{{.Name}}" {{if eq $.SelectedCategory .Name}}selected{{end}}>{{.Name}}</option>
            {{end}}
        </select>
        <button type="submit" class="btn btn-primary">Sort</button>
    </div>
</form>

{{if .Posts}}
<table>
    <tr>
        <th>Title</th>
        <th>Category</th>
        <th>Created</th>
        <th>Author</th>
        <th>ID</th>
        {{if .IsAuthenticated}}
        {{if eq .User.Role "moderator"}}
        <th>Action</th>
        {{end}}
        {{end}}
        {{if .IsAuthenticated}}
        {{if eq .User.Role "admin"}}
        <th>Action</th>
        {{end}}
        {{end}}
    </tr>
    {{range .Posts}}
    <tr>
        <td><a href='/post/view/{{.ID}}'>{{.Title}}</a></td>
        <td>{{.Category}}</td>
        <td>{{humanDate .Created}}</td>
        <td>{{.Author}}</td>
        <td>#{{.ID}}</td>

        {{if $.IsAuthenticated}}
        {{if eq $.User.Role "moderator"}}
        <td>
            <form action="/report/post/{{.ID}}" method="post">
                <input type="hidden" name="post_id" value="{{.ID}}">
                <textarea name="reason" placeholder="Reason for report" required></textarea>
                <button type="submit">Report to Admin</button>
            </form>
        </td>
        {{end}}
        {{end}}
        {{if $.IsAuthenticated}}
        {{if eq $.User.Role "admin"}}
        <td><a href="/post/delete/{{.ID}}">Delete</a></td>
        {{end}}
        {{end}}
    </tr>
    {{end}}
</table>
{{else}}
<p>There's nothing to see here... yet!</p>
{{end}}
{{end}}