{{define "title"}}Post #{{.Post.ID}}{{end}}

{{define "main"}}
    {{with .Post}}
    <div class='snippet' style="width: 80%; margin: 0 auto; padding: 10px; border: 1px solid #ddd; border-radius: 5px;">
        <div class='metadata' style="display: flex; justify-content: space-between; align-items: center;">
            <strong>{{.Title}}</strong>
            <span>#{{.ID}}</span>
        </div>
        <pre style="white-space: pre-wrap; word-wrap: break-word;"><code>{{.Content}}</code></pre>
        {{if .ImagePath}}
        <div class='image'>
            <img src="/static/upload/{{.ImagePath}}" alt="Image" style="max-width: 80%; height: auto; display: block; margin: 10px auto; border: 1px solid #ddd; border-radius: 5px;">
        </div>
        {{end}}
        <div class='metadata'>
            <strong>Category: {{.Category}}</strong>
        </div>
        <div class='metadata'>
            <time>Created: {{humanDate .Created}}</time>
        </div>
    </div>
    {{end}}
{{end}}
