{{define "index"}}
{{template "header"}}
  <main class="px-3">
    <h1>Forum4twohours</h1>
    <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto dolores cupiditate illo reprehenderit cum minus facilis minima? Molestias distinctio dolorum harum fugiat, autem officia expedita, molestiae quas exercitationem ipsa dignissimos!</p>
    {{ range . }}
    <div class="alert alert-danger">
      <h2>{{ .Name}}</h2>
      <p>{{ .Body}}</p>
      <p>{{ .Date}}</p>
      <a href="/post/{{.ID}}" class="btn btn-danger">Read more</a>
    </div>
    {{else}}
    <p class="lead">No POSTS</p>
    {{end}}
    <p class="lead">
      <a href="#" class="btn btn-lg btn-light fw-bold border-white bg-white">Learn more</a>
    </p>
  </main>
  {{template "footer"}}
  {{end}}

 